In [11]:
library(sqldf)
player_data <- read.csv("player.csv")

In [12]:
sqldf("SELECT player_name from player_data ORDER BY overall_rating DESC LIMIT 10")

   player_name
1  Lionel Messi
2  Gianluigi Buffon
3  Cristiano Ronaldo
4  Wayne Rooney
5  Gregory Coupet
6  Xavi Hernandez
7  Iker Casillas
8  John Terry
9  Fabio Cannavaro
10 Alessandro Nesta

In [13]:
sqldf("SELECT player_name from player_data ORDER BY gk_rating DESC LIMIT 10")

   player_name
1  Gianluigi Buffon
2  Gregory Coupet
3  Petr Cech
4  Iker Casillas
5  Manuel Neuer
6  Julio Cesar
7  Sebastian Frey
8  Edwin van der Sar
9  David De Gea
10 Pepe Reina

In [14]:
sqldf("SELECT player_name from player_data ORDER BY appearances DESC LIMIT 10")

   player_name
1  Steve Mandanda
2  Stephane Ruffier
3  Samir Handanovic
4  Gorka Iraizoz Moreno
5  Tim Howard
6  Hugo Lloris
7  Joe Hart
8  Cedric Carrasso
9  Daniel Congre
10 Moussa Sissoko

In [15]:
sqldf("SELECT player_name from player_data ORDER BY num_leagues DESC LIMIT 10")

   player_name
1  Gelson Fernandes
2  Filip Djuricic
3  Ricky van Wolfswinkel
4  Maarten Stekelenburg
5  Sergio Romero
6  Oguchi Onyewu
7  Sebastien Pocognoli
8  Aly Cissokho
9  Rolando
10 Xherdan Shaqiri

In [16]:
team_data <- read.csv("team.csv")

In [22]:
sqldf("SELECT team_long_name from team_data ORDER BY build_up_play DESC LIMIT 10")

   team_long_name
1  Torino
2  Udinese
3  Fortuna Düsseldorf
4  Podbeskidzie Bielsko-Biala
5  Korona Kielce
6  Carpi
7  Widzew Lódz
8  Widzew Lódz
9  FC Nantes
10 Lazio

In [23]:
sqldf("SELECT team_long_name from team_data ORDER BY chance_creation DESC LIMIT 10")

   team_long_name
1  Lazio
2  SV Werder Bremen
3  Napoli
4  Manchester City
5  Tottenham Hotspur
6  Birmingham City
7  Wolverhampton Wanderers
8  Burnley
9  Swansea City
10 Queens Park Rangers

In [24]:
sqldf("SELECT team_long_name from team_data ORDER BY defence DESC LIMIT 10")

   team_long_name
1  Beerschot AC
2  KVC Westerlo
3  Sporting Charleroi
4  West Bromwich Albion
5  Hull City
6  Birmingham City
7  Wolverhampton Wanderers
8  Blackpool
9  Swansea City
10 Queens Park Rangers

In [25]:
sqldf("SELECT team_long_name from team_data ORDER BY scored_goals DESC LIMIT 10")

   team_long_name
1  FC Barcelona
2  Real Madrid CF
3  Celtic
4  FC Bayern Munich
5  PSV
6  Ajax
7  FC Basel
8  Manchester City
9  Chelsea
10 Manchester United