In [1]:
credit_data <- read.csv("Rgraphics/lab3Data/german_credit_data1.csv", header=TRUE, stringsAsFactors=FALSE)

In [2]:
head(credit_data)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

In [3]:
credit_data <- credit_data[!is.na(credit_data$Saving.accounts),]
credit_data <- credit_data[!is.na(credit_data$Checking.account),]

In [4]:
# manipulating column values to numericals

credit_data$Sex[credit_data$Sex=="male"] <- 1
credit_data$Sex[credit_data$Sex=="female"] <- 0
credit_data$Housing[credit_data$Housing=="own"] <- 0
credit_data$Housing[credit_data$Housing=="rent"] <- 1
credit_data$Housing[credit_data$Housing=="free"] <- 2
credit_data$Saving.accounts[credit_data$Saving.accounts=="little"] <- 0
credit_data$Saving.accounts[credit_data$Saving.accounts=="moderate"] <- 1
credit_data$Saving.accounts[credit_data$Saving.accounts=="quite rich"] <- 2
credit_data$Saving.accounts[credit_data$Saving.accounts=="rich"] <- 3
credit_data$Checking.account[credit_data$Checking.account=="little"] <- 0
credit_data$Checking.account[credit_data$Checking.account=="moderate"] <- 1
credit_data$Checking.account[credit_data$Checking.account=="rich"] <- 2
credit_data$Purpose[credit_data$Purpose=="radio/TV"] <- 0
credit_data$Purpose[credit_data$Purpose=="furniture/equipment"] <- 1
credit_data$Purpose[credit_data$Purpose=="car"] <- 2
credit_data$Purpose[credit_data$Purpose=="business"] <- 3
credit_data$Purpose[credit_data$Purpose=="domestic appliances"] <- 4
credit_data$Purpose[credit_data$Purpose=="repairs"] <- 5
credit_data$Purpose[credit_data$Purpose=="vacation/others"] <- 6
credit_data$Purpose[credit_data$Purpose=="education"] <- 7

In [5]:
credit_data$Sex <- as.numeric(as.character(credit_data$Sex))
credit_data$Housing <- as.numeric(as.character(credit_data$Housing))
credit_data$Saving.accounts <- as.numeric(as.character(credit_data$Saving.accounts))
credit_data$Checking.account <- as.numeric(as.character(credit_data$Checking.account))
credit_data$Purpose <- as.numeric(as.character(credit_data$Purpose))

In [6]:
# normalizing data

credit_data$Sex <- (credit_data$Sex - min(credit_data$Sex))/(max(credit_data$Sex) - min(credit_data$Sex))
credit_data$Housing <- (credit_data$Housing - min(credit_data$Housing))/(max(credit_data$Housing) - min(credit_data$Housing))
credit_data$Saving.accounts <- (credit_data$Saving.accounts - min(credit_data$Saving.accounts))/(max(credit_data$Saving.accounts) - min(credit_data$Saving.accounts))
credit_data$Checking.account <- (credit_data$Checking.account - min(credit_data$Checking.account))/(max(credit_data$Checking.account) - min(credit_data$Checking.account))
credit_data$Purpose <- (credit_data$Purpose - min(credit_data$Purpose))/(max(credit_data$Purpose) - min(credit_data$Purpose))

In [7]:
credit_data$Credit.amount <- (credit_data$Credit.amount - min(credit_data$Credit.amount))/(max(credit_data$Credit.amount) - min(credit_data$Credit.amount))
credit_data$Age <- (credit_data$Age - min(credit_data$Age))/(max(credit_data$Age) - min(credit_data$Age))
credit_data$Job <- (credit_data$Job - min(credit_data$Job))/(max(credit_data$Job) - min(credit_data$Job))
credit_data$Duration <- (credit_data$Duration - min(credit_data$Duration))/(max(credit_data$Duration) - min(credit_data$Duration))

In [8]:
# data <- data.framerame(k= numeric(0), train_80 = numeric(0))
install.packages("class", repos='http://cran.us.r-project.org') 
library(class)

Installing package into 'C:/Users/Akash Yeleswarapu/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'class' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Akash Yeleswarapu\AppData\Local\Temp\RtmpQ9jMI1\downloaded_packages

Warning message:
"package 'class' was built under R version 3.3.3"

In [9]:
num_points <- nrow(credit_data)
# for sample rate of 0.8
sampling.rate <- 0.8
test_set_points <- num_points * (1-sampling.rate)
training <- sample(1:num_points, sampling.rate * num_points,
replace=FALSE)
train <- subset(credit_data[training, ], select = c(Sex, Housing, Saving.accounts, Checking.account,Job,Duration, Age, Purpose, Credit.amount))
testing <- setdiff(1:num_points, training)
test <- subset(credit_data[testing, ], select =  c(Sex, Housing, Saving.accounts, Checking.account, Job, Duration, Age, Purpose, Credit.amount))
cl <- credit_data$Credit.Risks[training]
true.labels <- credit_data$Credit.Risks[testing]

In [10]:
# for sample rate of 0.8
sampling.rate <- 0.8
test_set_points <- num_points * (1-sampling.rate)
training <- sample(1:num_points, sampling.rate * num_points,
replace=FALSE)
train <- subset(credit_data[training, ], select = c(Sex, Housing, Saving.accounts, Checking.account,Job,Duration, Age, Purpose, Credit.amount))
testing <- setdiff(1:num_points, training)
test <- subset(credit_data[testing, ], select =  c(Sex, Housing, Saving.accounts, Checking.account, Job, Duration, Age, Purpose, Credit.amount))
cl <- credit_data$Credit.Risks[training]
true.labels <- credit_data$Credit.Risks[testing]
data_frame1 <- data.frame(k = numeric(), train_80 = numeric())
for (k in 1:20) {
predicted.labels <- knn(train, test, cl, k)
# We're using the R function knn()
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels / test_set_points
data_frame1 <- rbind(data_frame1, data.frame(k = k , train_80 = misclassification.rate))
}

In [11]:
# for sample rate of 0.7
sampling.rate <- 0.7
test_set_points <- num_points * (1-sampling.rate)
training <- sample(1:num_points, sampling.rate * num_points,
replace=FALSE)
train <- subset(credit_data[training, ], select = c(Sex, Housing, Saving.accounts, Checking.account,Job,Duration, Age, Purpose, Credit.amount))
testing <- setdiff(1:num_points, training)
test <- subset(credit_data[testing, ], select =  c(Sex, Housing, Saving.accounts, Checking.account, Job, Duration, Age, Purpose, Credit.amount))
cl <- credit_data$Credit.Risks[training]
true.labels <- credit_data$Credit.Risks[testing]
data_frame2 <- data.frame(k = numeric(), train_70 = numeric())
for (k in 1:20) {
predicted.labels <- knn(train, test, cl, k)
# We're using the R function knn()
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels / test_set_points
data_frame2 <- rbind(data_frame2, data.frame(k = k , train_70 = misclassification.rate))
}

In [12]:
# for sample rate of 0.75
sampling.rate <- 0.75
test_set_points <- num_points * (1-sampling.rate)
training <- sample(1:num_points, sampling.rate * num_points,
replace=FALSE)
train <- subset(credit_data[training, ], select = c(Sex, Housing, Saving.accounts, Checking.account,Job,Duration, Age, Purpose, Credit.amount))
testing <- setdiff(1:num_points, training)
test <- subset(credit_data[testing, ], select =  c(Sex, Housing, Saving.accounts, Checking.account, Job, Duration, Age, Purpose, Credit.amount))
cl <- credit_data$Credit.Risks[training]
true.labels <- credit_data$Credit.Risks[testing]
data_frame3 <- data.frame(k = numeric(), train_75 = numeric())
for (k in 1:20) {
predicted.labels <- knn(train, test, cl, k)
# We're using the R function knn()
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels / test_set_points
data_frame3 <- rbind(data_frame3, data.frame(k = k , train_75 = misclassification.rate))
}

In [13]:
data_frame2 <- merge(x = data_frame1, y = data_frame1, by = "k", all = TRUE)
data_frame3 <- merge(x = data_frame2, y = data_frame3, by = "k", all = TRUE)

In [14]:
colnames(data_frame3) <- c("k", "train_80", "train_70", "train_75")

In [15]:
data_frame3

   k  train_80  train_70  train_75
1   1 0.3927203 0.3927203 0.4904215
2   2 0.4789272 0.4789272 0.4674330
3   3 0.3927203 0.3927203 0.4750958
4   4 0.4214559 0.4214559 0.4291188
5   5 0.4501916 0.4501916 0.4521073
6   6 0.3831418 0.3831418 0.4521073
7   7 0.4310345 0.4310345 0.4214559
8   8 0.4022989 0.4022989 0.4444444
9   9 0.4597701 0.4597701 0.4597701
10 10 0.4406130 0.4406130 0.4291188
11 11 0.4693487 0.4693487 0.4214559
12 12 0.4693487 0.4693487 0.4061303
13 13 0.4406130 0.4406130 0.3831418
14 14 0.4310345 0.4310345 0.4137931
15 15 0.4214559 0.4214559 0.4367816
16 16 0.4789272 0.4789272 0.4214559
17 17 0.4693487 0.4693487 0.4674330
18 18 0.4885057 0.4885057 0.4214559
19 19 0.4597701 0.4597701 0.4061303
20 20 0.4118774 0.4118774 0.4061303